.ce-inline-tool-annotation {
    width: 24px;
    background-color: transparent;
    background-image: url('annotation.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.annotation {
  display: inline-block;
  padding: .25em 0;
  background: rgba(245,235,111,.29);
  border-radius: 10px;
  cursor: pointer;
}

.annotation-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.annotation-modal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
}

.annotation-modal label {
  display: block;
  margin-bottom: 40px;
}

.annotation-modal input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
}

.annotation-modal-button {
  padding: 14px;
  font-size: 16px;
  color: white;
  align-self: center;
  border: .1px solid grey;
  width: auto;
  border-radius: 5px;
  height: 100%;
  cursor: pointer;
  background-color: #1F1646;
}

.annotation-modal-button-close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
