.ce-inline-tool-annotation {
  width: 24px;
  background-color: transparent;
  background-image: url('annotation.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.afl-annotation-tool {
  display: inline-block;
  /* padding: 0.25em 0; */
  background: rgba(245, 235, 111, 0.29);
  border-radius: 10px;
  cursor: pointer;
}

.annotation-overlay-button-close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.annotation-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: calc(100% + 10px);
  left: 0;
  height: auto;
  width: 500px;
  min-width: 500px;
  max-width: calc(-24px + 100vw);
  padding: 2%;
  background-color: #f7f7f5;
  z-index: 10;
  word-break: break-word;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.annotation-overlay label {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.annotation-overlay input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
}

.annotation-overlay-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.annotation-overlay-button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  min-width: fit-content;
  white-space: nowrap;
  border: 0.1px solid grey;
  width: auto;
  height: 100%;
}

.annotation-overlay-button.annotation-overlay-save-button {
  color: white;
  background-color: #1f1646;
}

.annotation-overlay-button.annotation-overlay-remove-button {
  color: #1f1646;
  background-color: white;
}
